<body>
  <nav class="navbar">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
              <li><a href="#">Home</a></li>
              <li><a href="#">Category</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Sign Out</a></li>
          </ul>
          <h1 class="logo">Traveler court</h1>
      </div>
  </nav>


  <div class="main">
    <h1>Available Houses</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://sncdn.com/tpc/g/390/220/7167903.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Kruger River View</h2>
            <p class="card_text">Kruger River View is a 10-sleeper 4-bedroom bush house situated on ...</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://sncdn.com/tpc/g/390/220/7124647.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Tau Self-catering House</h2>
            <p class="card_text">The stunning house, which accommodates up to ten guests,features a ...</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://sncdn.com/tpc/g/390/220/7272983.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Doringpoort Lodge</h2>
            <p class="card_text">Doringpoort Safari Lodge is nestled in the unspoiled bush that border ...</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://sncdn.com/tpc/g/390/220/7115870.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Royal Kruger Lodge</h2>
            <p class="card_text"> The Royal Kruger Lodge is a Private Game Lodge renowned for its exc ...</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://sncdn.com/tpc/g/390/220/7161352.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Marloth Getaway</h2>
            <p class="card_text">Marloth Getaway is a self catering home in a nature conservancy whe ...</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://sncdn.com/tpc/g/390/220/7266684.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Lion's Lair</h2>
            <p class="card_text">Situated next to the Crocodile River within the quiet beauty of Marlot ...</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
  <h3 class="made_by">Design by MJ Mabasa</h3>


</body>
